* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    text-align: center;
    padding: 20px;
    font-size: 40px;
}

.container {
    width: 70vw;
    height: 480px;
    background-color: white;
    margin: 0 auto;
}

header {
    height: 20%;
    background-color: yellow;
    margin: 5px;
}

section {
    height: 60%;
    margin: 5px;
}

aside{
    width: 24%;
    height: 70%;
    background-color: pink;
    float: left;
}

main {
    width: 48%;
    height: 100%;
    background-color: purple;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

article {
    width: 24%;
    height: 70%;
    background-color: pink;
    float: left;
}

footer {
    height: 20%;
    background-color: lightblue;
    margin: 5px;
}
